






<main class="main">
  <h1>{{data.title}}</h1>
  <p>{{data.text}}</p>
  <img src="favicon.ico" alt="hola" (click)="onLogoClicked()">
  <input class="input-demo" (keyup)="onKeyUp(titleInput.value)" [value]="data.title" #titleInput>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
